code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans
    Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  color: rgb(39, 81, 77);
  background-color: rgb(232, 216, 195);
  padding: 2px;
}

body {
  background-color: rgb(255, 248, 227);
}

#navbar-main .main-menu-item ul li .nav-link:hover {
    color: #FF5733;
}