code {
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans
    Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  color: rgb(39, 81, 77);
  background-color: rgb(232, 216, 195);
  padding: 2px;
  border-radius: 4px;
}

body {
  background-color: rgb(255, 248, 227);
}

#navbar-main .main-menu-item ul li .nav-link:hover {
    color: #FF5733;
}

.article-title a:hover {
    color: #900c3f;
    text-decoration: none;
    transition: color .6s ease;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #900C3F;
    border-color: #900C3F;
    transition: color .6s ease;
}

/* Adding padding for slider text */
.hero-title {
    padding-right: 110px;
    padding-left: 110px;
}

.wg-hero p {
    padding-right: 110px;
    padding-left: 110px;
}

.card-simple {
    background: #e8d8c3;
}
